@use "components/article";
@use "components/sidebars";
@use "components/header";
@use "components/status-bar";
@use "components/icons";
@use "components/page-preview";
@use "components/tooltips";
@use "components/graph.scss";

.boot-screen.container
{
    z-index: 3;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;    
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boot-screen.container 
{
    font-size: 0.8em;
}
.boot-screen.container progress
{
    width: 100%;
    // font-size: 2rem;
    // appearance: none;
}
::-moz-progress-bar
{
    background-color: blue;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    border: none;
}
