# Enable the rewrite engine
RewriteEngine On
RewriteBase /

# If the requested file or directory actually exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, send all requests back to index.html
RewriteRule ^ index.html [L]