@media (prefers-color-scheme: light) {
    body
    {
        --color-text-on-accent: white;
        --color-accent: rgb(58, 166, 255);
        --color-text: rgb(64, 55, 55);
        --color-text-muted: rgb(197, 197, 197);
        --color-background: black;
        --color-background-secondary: white;
        --color-blue: dodgerblue;
    }
}