// here we style the graph container for the graph

// .graph-container canvas
.graph-container
{
    outline: 1px dashed var(--color-text-muted);
    height: 500px;
    background-color: var(--color-background-secondary);
    border-radius: 10px;
    overflow: hidden;
}
canvas.network.graph:hover
{
    // background-color: purple;
}