// here we style the graph container for the graph
// @todo let's change this to be js only; the width for this can be confusing, since the canvas auto-sizes!
aside .graph-container
{
    height: 300px;
    width: 300px;
}
// .graph-container canvas
.graph-container
{
    outline: 1px dashed var(--color-text-muted);
    height: 500px;
    background-color: var(--color-background-secondary);
    border-radius: 10px;
    overflow: hidden;
}
canvas.network.graph:hover
{
    // background-color: purple;
}