// here we style the graph container for the graph

// .graph-container canvas
.graph-container
{
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-block: 25px;
}
canvas.network.graph:hover
{
    background-color: var(--color-background-secondary);
}